from django.contrib import admin
from django.urls import path, include
from rest_framework_swagger.views import get_swagger_view

urlpatterns = [
    path('admin/', admin.site.urls),
    path("api/", include("api_auth.urls"), name="Authentication"),
    path("product/", include("api_product.urls")),
    path("docs/", get_swagger_view(title="Authentication"))
]
